DAP4.ClienteLibros/Connected Services/LibrosService/LibrosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibrosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILibrosService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfBibliotecaService/LibrosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfBibliotecaService/LibrosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfBibliotecaService/LibrosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibrosService_ObtenerLibroPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibroPorId" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_ObtenerLibroPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibroPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_ObtenerLibroPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibroPorNombre" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_ObtenerLibroPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibroPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_ListarLibros_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLibros" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_ListarLibros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_InsertarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLibro" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_InsertarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_ActualizarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLibro" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_ActualizarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_EliminarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLibro" />
  </wsdl:message>
  <wsdl:message name="ILibrosService_EliminarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibrosService">
    <wsdl:operation name="ObtenerLibroPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrosService/ObtenerLibroPorId" message="tns:ILibrosService_ObtenerLibroPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrosService/ObtenerLibroPorIdResponse" message="tns:ILibrosService_ObtenerLibroPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLibroPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrosService/ObtenerLibroPorNombre" message="tns:ILibrosService_ObtenerLibroPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrosService/ObtenerLibroPorNombreResponse" message="tns:ILibrosService_ObtenerLibroPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLibros">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrosService/ListarLibros" message="tns:ILibrosService_ListarLibros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrosService/ListarLibrosResponse" message="tns:ILibrosService_ListarLibros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrosService/InsertarLibro" message="tns:ILibrosService_InsertarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrosService/InsertarLibroResponse" message="tns:ILibrosService_InsertarLibro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrosService/ActualizarLibro" message="tns:ILibrosService_ActualizarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrosService/ActualizarLibroResponse" message="tns:ILibrosService_ActualizarLibro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrosService/EliminarLibro" message="tns:ILibrosService_EliminarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrosService/EliminarLibroResponse" message="tns:ILibrosService_EliminarLibro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibrosService" type="tns:ILibrosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerLibroPorId">
      <soap:operation soapAction="http://tempuri.org/ILibrosService/ObtenerLibroPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLibroPorNombre">
      <soap:operation soapAction="http://tempuri.org/ILibrosService/ObtenerLibroPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLibros">
      <soap:operation soapAction="http://tempuri.org/ILibrosService/ListarLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <soap:operation soapAction="http://tempuri.org/ILibrosService/InsertarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <soap:operation soapAction="http://tempuri.org/ILibrosService/ActualizarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap:operation soapAction="http://tempuri.org/ILibrosService/EliminarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILibrosService" type="tns:ILibrosService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILibrosService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerLibroPorId">
      <soap12:operation soapAction="http://tempuri.org/ILibrosService/ObtenerLibroPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLibroPorNombre">
      <soap12:operation soapAction="http://tempuri.org/ILibrosService/ObtenerLibroPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLibros">
      <soap12:operation soapAction="http://tempuri.org/ILibrosService/ListarLibros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <soap12:operation soapAction="http://tempuri.org/ILibrosService/InsertarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <soap12:operation soapAction="http://tempuri.org/ILibrosService/ActualizarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap12:operation soapAction="http://tempuri.org/ILibrosService/EliminarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibrosService">
    <wsdl:port name="BasicHttpBinding_ILibrosService" binding="tns:BasicHttpBinding_ILibrosService">
      <soap:address location="http://localhost/WcfBibliotecaService/LibrosService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILibrosService" binding="tns:NetTcpBinding_ILibrosService">
      <soap12:address location="net.tcp://desktop-h376cnb/WcfBibliotecaService/LibrosService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://desktop-h376cnb/WcfBibliotecaService/LibrosService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-H376CNB</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>