DAP4.ClienteLibros/Connected Services/LibrosService/LibrosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Libros">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="genero_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_libro" type="xs:int" />
      <xs:element minOccurs="0" name="libro_anio_publicacion" type="xs:int" />
      <xs:element minOccurs="0" name="libro_isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="libro_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libros" nillable="true" type="tns:Libros" />
  <xs:complexType name="ArrayOfLibros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libros" nillable="true" type="tns:Libros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibros" nillable="true" type="tns:ArrayOfLibros" />
</xs:schema>