DAP4.ClienteLibros/Connected Services/ClientesService/ClientesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfBibliotecaService/ClientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" />
  <xs:element name="ObtenerClientePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" minOccurs="0" name="ObtenerClientePorIdResult" nillable="true" type="q1:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorApellido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cliente_apellido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorApellidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" minOccurs="0" name="ObtenerClientePorApellidoResult" nillable="true" type="q2:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" minOccurs="0" name="ListarClientesResult" nillable="true" type="q3:ArrayOfClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" minOccurs="0" name="cliente" nillable="true" type="q4:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" minOccurs="0" name="InsertarClienteResult" nillable="true" type="q5:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" minOccurs="0" name="cliente" nillable="true" type="q6:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" minOccurs="0" name="ActualizarClienteResult" nillable="true" type="q7:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>