DAP4.ClienteLibros/Connected Services/ClientesService/ClientesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IClientesService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfBibliotecaService/ClientesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfBibliotecaService/ClientesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfBibliotecaService/ClientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientesService_ObtenerClientePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientePorId" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ObtenerClientePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ObtenerClientePorApellido_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientePorApellido" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ObtenerClientePorApellido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientePorApellidoResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ListarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientes" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ListarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_InsertarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientesService_InsertarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientesService_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientesService_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientesService">
    <wsdl:operation name="ObtenerClientePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/ObtenerClientePorId" message="tns:IClientesService_ObtenerClientePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/ObtenerClientePorIdResponse" message="tns:IClientesService_ObtenerClientePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientePorApellido">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/ObtenerClientePorApellido" message="tns:IClientesService_ObtenerClientePorApellido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/ObtenerClientePorApellidoResponse" message="tns:IClientesService_ObtenerClientePorApellido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/ListarClientes" message="tns:IClientesService_ListarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/ListarClientesResponse" message="tns:IClientesService_ListarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/InsertarCliente" message="tns:IClientesService_InsertarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/InsertarClienteResponse" message="tns:IClientesService_InsertarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/ActualizarCliente" message="tns:IClientesService_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/ActualizarClienteResponse" message="tns:IClientesService_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/EliminarCliente" message="tns:IClientesService_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/EliminarClienteResponse" message="tns:IClientesService_EliminarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientesService" type="tns:IClientesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerClientePorId">
      <soap:operation soapAction="http://tempuri.org/IClientesService/ObtenerClientePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientePorApellido">
      <soap:operation soapAction="http://tempuri.org/IClientesService/ObtenerClientePorApellido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <soap:operation soapAction="http://tempuri.org/IClientesService/ListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientesService/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientesService/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientesService/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IClientesService" type="tns:IClientesService">
    <wsp:PolicyReference URI="#NetTcpBinding_IClientesService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerClientePorId">
      <soap12:operation soapAction="http://tempuri.org/IClientesService/ObtenerClientePorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientePorApellido">
      <soap12:operation soapAction="http://tempuri.org/IClientesService/ObtenerClientePorApellido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <soap12:operation soapAction="http://tempuri.org/IClientesService/ListarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap12:operation soapAction="http://tempuri.org/IClientesService/InsertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap12:operation soapAction="http://tempuri.org/IClientesService/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/IClientesService/EliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientesService">
    <wsdl:port name="BasicHttpBinding_IClientesService" binding="tns:BasicHttpBinding_IClientesService">
      <soap:address location="http://localhost/WcfBibliotecaService/ClientesService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IClientesService" binding="tns:NetTcpBinding_IClientesService">
      <soap12:address location="net.tcp://desktop-h376cnb/WcfBibliotecaService/ClientesService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://desktop-h376cnb/WcfBibliotecaService/ClientesService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-H376CNB</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>