DAP4.ClienteLibros/Connected Services/ClientesService/ClientesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Clientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente_domicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente_fecha_nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cliente_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente_telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clientes" nillable="true" type="tns:Clientes" />
  <xs:complexType name="ArrayOfClientes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clientes" nillable="true" type="tns:Clientes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientes" nillable="true" type="tns:ArrayOfClientes" />
</xs:schema>