DAP4.ClienteLibros/Connected Services/PrestamosService/PrestamosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Prestamos">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empleado" type="xs:int" />
      <xs:element minOccurs="0" name="id_prestamo" type="xs:int" />
      <xs:element minOccurs="0" name="libro_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prestamo_codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prestamo_devolucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="prestamo_devuelto" type="xs:boolean" />
      <xs:element minOccurs="0" name="prestamo_fecha" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prestamos" nillable="true" type="tns:Prestamos" />
  <xs:complexType name="ArrayOfPrestamos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prestamos" nillable="true" type="tns:Prestamos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrestamos" nillable="true" type="tns:ArrayOfPrestamos" />
</xs:schema>