DAP4.ClienteLibros/Connected Services/EmpleadosService/EmpleadosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAP4.Biblioteca.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpleados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleados" nillable="true" type="tns:Empleados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleados" nillable="true" type="tns:ArrayOfEmpleados" />
  <xs:complexType name="Empleados">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empleado_cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empleado_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empleado_fecha_nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="empleado_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empleado_telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleados" nillable="true" type="tns:Empleados" />
</xs:schema>